html,body
{
    margin:0; /* margin will become like default mode */
    padding:0 /* padding will become like default mode */
}

body
{
    font: 76% arial,sans-serif; /* this is setting for font in the body, if arial can't use so the sans-serif will be use for this html */
    text-align:center /* this will make everyhing in the body */
}

p
{
    margin:0 10px 10px /* margin for every tag <p> */
}

a
{
    padding:5px; /* give padding 5 px for every tag <a> */
    text-decoration:none; /* this make your blue color text from tag <a> disappear */
    color:#000000; /* black color */
}

div#header
{
    text-align: center; /* text align in header id will be left */
	color: silver; /* silver color */
    background: rgb(34,193,195); /* this make header background rbg */
    background: linear-gradient(0deg, rgba(34,193,195,1) 33%, rgba(254,254,254,1) 100%); /* this make header background liner gradient rbg */
}

div#header p /* css for #header p */
{
    font-size: 80px; /* this make your header p font size 80 px */
    font-family: sweets;  /* this make your header p font family sweets */
    line-height:150px; /*Distance for every new paragraph*/
	
}

div#container
{
    text-align:left /* text align in container id will be left */
}

div#content p
{
    line-height:1.4 /* every distance for each paragraph will be 1.4 */
}

div#navigation
{
    background:#F6F0E0; /* give color for the background */
}

div#extra
{
    background:#CCC8B3; /* give color for the background */
}

div#footer p
{
    margin:0; /* your margin will be 0 */
    padding:5px 10px /* padding in the footer top will be 5px and for padding bottim will be 10px */
}

div#container
{
    width:100%; /* container id width will be 100% */
    margin:0 auto /* margin will be 0 */
}

div#content
{
    width: 800px; /* content id width will be 800px */
    margin: auto; /*this is make content bit go to the right more */
    background: #E0FFFF; /* give color for background */   
}

div#navigation
{
    background: #7FFFD4; /* give color for background */
    float:left; /* will make navigation position go to the left */
    width:200px /* navigation id width will be 200px */
    
}

div#extra
{
    float:right; /* will make navigation position go to the right */
    clear:right; /* it will be according to how many div in the top this extra id */
    width:200px /* extra id width will be 200px */
}

div#footer
{
    clear:both; /* it will be according to how many div in the top this footer id */
    width:100% /* footer id width will be 100% according to layer */
}
